# INTRODUCTION #

Appending and Merging datasets exercise:
Google Mobility Index Data

In [2]:
#PACKAGES / PYTHON MODULES
import numpy as np
import pandas as pd
import openpyxl
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#SET WORKING DIRECTORY
absolute_path = '/Users/dino/Documents/Google_Mobility_Data/Region_Mobility_Report_CSVs'

os.chdir(absolute_path)

print('New working directory is: ', os.getcwd())

New working directory is:  /Users/dino/Documents/Google_Mobility_Data/Region_Mobility_Report_CSVs

In [4]:
#GET WORKING DIRECTORY
cwd = os.getcwd()
print('Current Working Directory is: ', cwd)

Current Working Directory is:  /Users/dino/Documents/Google_Mobility_Data/Region_Mobility_Report_CSVs

In [5]:
#csv files: 2022 Google Mobility Data
ID_2022 = pd.read_csv('2022_ID_Region_Mobility_Report.csv')
MY_2022 = pd.read_csv('2022_MY_Region_Mobility_Report.csv')
PH_2022 = pd.read_csv('2022_PH_Region_Mobility_Report.csv')
SG_2022 = pd.read_csv('2022_SG_Region_Mobility_Report.csv')
TH_2022 = pd.read_csv('2022_TH_Region_Mobility_Report.csv')

#Display dataset shape
print(ID_2022.shape)
print(MY_2022.shape)
print(PH_2022.shape)
print(SG_2022.shape)
print(TH_2022.shape)

#View whole dataframe
#print(usdphp_1, psei_1)

#print(psei_1.to_string())

(6475, 15)
(3145, 15)
(4810, 15)
(185, 15)
(185, 15)

In [6]:
ID_2022.rename(columns={'retail_and_recreation_percent_change_from_baseline': 'ID_retail_recreation', \
                          'grocery_and_pharmacy_percent_change_from_baseline':'ID_grocery_pharmacy', \
                                'parks_percent_change_from_baseline':'ID_parks',\
                         'transit_stations_percent_change_from_baseline':'ID_transit_stations',\
                         'workplaces_percent_change_from_baseline':'ID_workplaces',\
                         'residential_percent_change_from_baseline':'ID_residential'},inplace=True)

MY_2022.rename(columns={'retail_and_recreation_percent_change_from_baseline': 'MY_retail_recreation', \
                          'grocery_and_pharmacy_percent_change_from_baseline':'MY_grocery_pharmacy', \
                                'parks_percent_change_from_baseline':'MY_parks',\
                         'transit_stations_percent_change_from_baseline':'MY_transit_stations',\
                         'workplaces_percent_change_from_baseline':'MY_workplaces',\
                         'residential_percent_change_from_baseline':'MY_residential'},inplace=True)

PH_2022.rename(columns={'retail_and_recreation_percent_change_from_baseline': 'PH_retail_recreation', \
                          'grocery_and_pharmacy_percent_change_from_baseline':'PH_grocery_pharmacy', \
                                'parks_percent_change_from_baseline':'PH_parks',\
                         'transit_stations_percent_change_from_baseline':'PH_transit_stations',\
                         'workplaces_percent_change_from_baseline':'PH_workplaces',\
                         'residential_percent_change_from_baseline':'PH_residential'},inplace=True)

SG_2022.rename(columns={'retail_and_recreation_percent_change_from_baseline': 'SG_retail_recreation', \
                          'grocery_and_pharmacy_percent_change_from_baseline':'SG_grocery_pharmacy', \
                                'parks_percent_change_from_baseline':'SG_parks',\
                         'transit_stations_percent_change_from_baseline':'SG_transit_stations',\
                         'workplaces_percent_change_from_baseline':'SG_workplaces',\
                         'residential_percent_change_from_baseline':'SG_residential'},inplace=True)

TH_2022.rename(columns={'retail_and_recreation_percent_change_from_baseline': 'TH_retail_recreation', \
                          'grocery_and_pharmacy_percent_change_from_baseline':'TH_grocery_pharmacy', \
                                'parks_percent_change_from_baseline':'TH_parks',\
                         'transit_stations_percent_change_from_baseline':'TH_transit_stations',\
                         'workplaces_percent_change_from_baseline':'TH_workplaces',\
                         'residential_percent_change_from_baseline':'TH_residential'},inplace=True)

In [7]:
TH_2022_b = TH_2022 

TH_2022_b = TH_2022.dropna(axis=1)

columns_to_drop = ['country_region_code','country_region','place_id']
TH_2022_b = TH_2022_b.drop(columns_to_drop, axis=1, inplace=False)

TH_2022_b

,date,TH_retail_recreation,TH_grocery_pharmacy,TH_parks,TH_transit_stations,TH_workplaces,TH_residential
0,2022-01-01,-3,20,23,-36,-51,0
1,2022-01-02,3,21,18,-30,-26,-3
2,2022-01-03,9,25,5,-38,-54,5
3,2022-01-04,3,24,-17,-34,-18,2
4,2022-01-05,1,20,-20,-33,-14,3
...,...,...,...,...,...,...,...
180,2022-06-30,1,24,-11,-20,2,7
181,2022-07-01,-1,26,-12,-21,1,7
182,2022-07-02,2,26,-16,-16,7,6
183,2022-07-03,4,27,-5,-14,3,6
184,2022-07-04,-1,23,-9,-22,1,7

In [8]:
SG_2022_b = SG_2022 

SG_2022_b = SG_2022.dropna(axis=1)

columns_to_drop = ['country_region_code','country_region','place_id']
SG_2022_b = SG_2022_b.drop(columns_to_drop, axis=1, inplace=False)

SG_2022_b

,date,SG_retail_recreation,SG_grocery_pharmacy,SG_parks,SG_transit_stations,SG_workplaces,SG_residential
0,2022-01-01,-10,13,-7,-25,-33,14
1,2022-01-02,-12,1,-39,-26,9,11
2,2022-01-03,-4,18,-4,-26,-30,17
3,2022-01-04,-11,9,-9,-23,-21,15
4,2022-01-05,-13,2,-9,-21,-19,15
...,...,...,...,...,...,...,...
180,2022-06-30,-11,-4,-17,-11,-7,10
181,2022-07-01,-8,-3,-14,-12,-6,12
182,2022-07-02,-4,3,-8,-10,3,6
183,2022-07-03,-5,-2,-4,-13,2,6
184,2022-07-04,-8,-2,-14,-18,-16,12

In [9]:
PH_2022_b = PH_2022 

PH_2022_b = PH_2022_b.loc[(PH_2022_b.sub_region_1.isnull()) & (PH_2022_b.metro_area.isnull())]
PH_2022_b = PH_2022_b.dropna(axis=1)

columns_to_drop = ['country_region_code','country_region','place_id']
PH_2022_b = PH_2022_b.drop(columns_to_drop, axis=1, inplace=False)

#PH_2022_b['sub_region_1'].value_counts().dtype

PH_2022_b

,date,PH_retail_recreation,PH_grocery_pharmacy,PH_parks,PH_transit_stations,PH_workplaces,PH_residential
0,2022-01-01,-39,-15.0,27,-48,-52,17
1,2022-01-02,-4,38.0,28,-9,-1,9
2,2022-01-03,-4,41.0,17,-24,-22,18
3,2022-01-04,-7,43.0,10,-28,-24,20
4,2022-01-05,-10,41.0,8,-33,-24,20
...,...,...,...,...,...,...,...
180,2022-06-30,18,65.0,54,5,1,18
181,2022-07-01,13,59.0,41,4,6,19
182,2022-07-02,17,63.0,46,14,23,14
183,2022-07-03,16,62.0,53,22,33,12
184,2022-07-04,15,54.0,53,10,4,18

In [10]:
MY_2022_b = MY_2022 

MY_2022_b = MY_2022_b.loc[(MY_2022_b.sub_region_1.isnull()) & (MY_2022_b.iso_3166_2_code.isnull())]
MY_2022_b = MY_2022_b.dropna(axis=1)

columns_to_drop = ['country_region_code','country_region','place_id']
MY_2022_b = MY_2022_b.drop(columns_to_drop, axis=1, inplace=False)

MY_2022_b

,date,MY_retail_recreation,MY_grocery_pharmacy,MY_parks,MY_transit_stations,MY_workplaces,MY_residential
0,2022-01-01,-11,14.0,8.0,-16,-36,11
1,2022-01-02,-11,13.0,-3.0,-18,-14,8
2,2022-01-03,-6,25.0,-5.0,-25,-16,11
3,2022-01-04,-8,22.0,-9.0,-28,-13,10
4,2022-01-05,-7,24.0,-6.0,-26,-12,11
...,...,...,...,...,...,...,...
180,2022-06-30,2,24.0,21.0,-14,2,10
181,2022-07-01,3,23.0,25.0,-12,4,10
182,2022-07-02,4,21.0,30.0,-2,1,8
183,2022-07-03,4,21.0,33.0,-2,1,8
184,2022-07-04,-3,21.0,17.0,-15,0,11

In [11]:
ID_2022_b = ID_2022 

ID_2022_b = ID_2022_b.loc[(ID_2022_b.sub_region_1.isnull()) & (ID_2022_b.iso_3166_2_code.isnull())]
ID_2022_b = ID_2022_b.dropna(axis=1)

columns_to_drop = ['country_region_code','country_region','place_id']
ID_2022_b = ID_2022_b.drop(columns_to_drop, axis=1, inplace=False)

ID_2022_b

,date,ID_retail_recreation,ID_grocery_pharmacy,ID_parks,ID_transit_stations,ID_workplaces,ID_residential
0,2022-01-01,3,24,46,-15.0,-49,6
1,2022-01-02,11,35,28,-4.0,-4,3
2,2022-01-03,14,36,20,-9.0,-10,4
3,2022-01-04,11,33,15,-9.0,-8,4
4,2022-01-05,12,34,17,-10.0,-7,4
...,...,...,...,...,...,...,...
180,2022-06-30,18,39,60,-1.0,1,15
181,2022-07-01,17,40,54,-1.0,2,15
182,2022-07-02,16,41,50,6.0,11,12
183,2022-07-03,17,39,51,7.0,24,12
184,2022-07-04,19,39,67,0.0,-1,15

In [12]:
ID_2022_b = ID_2022_b.set_index('date')
MY_2022_b = MY_2022_b.set_index('date')
PH_2022_b = PH_2022_b.set_index('date')
SG_2022_b = SG_2022_b.set_index('date')
TH_2022_b = TH_2022_b.set_index('date')

In [13]:
combined_data = ID_2022_b.join(MY_2022_b.join(PH_2022_b.join(SG_2022_b.join(TH_2022_b))))

combined_data

,ID_retail_recreation,ID_grocery_pharmacy,ID_parks,ID_transit_stations,ID_workplaces,ID_residential,MY_retail_recreation,MY_grocery_pharmacy,MY_parks,MY_transit_stations,...,SG_parks,SG_transit_stations,SG_workplaces,SG_residential,TH_retail_recreation,TH_grocery_pharmacy,TH_parks,TH_transit_stations,TH_workplaces,TH_residential
date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,3,24,46,-15.0,-49,6,-11,14.0,8.0,-16,...,-7,-25,-33,14,-3,20,23,-36,-51,0
2022-01-02,11,35,28,-4.0,-4,3,-11,13.0,-3.0,-18,...,-39,-26,9,11,3,21,18,-30,-26,-3
2022-01-03,14,36,20,-9.0,-10,4,-6,25.0,-5.0,-25,...,-4,-26,-30,17,9,25,5,-38,-54,5
2022-01-04,11,33,15,-9.0,-8,4,-8,22.0,-9.0,-28,...,-9,-23,-21,15,3,24,-17,-34,-18,2
2022-01-05,12,34,17,-10.0,-7,4,-7,24.0,-6.0,-26,...,-9,-21,-19,15,1,20,-20,-33,-14,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,18,39,60,-1.0,1,15,2,24.0,21.0,-14,...,-17,-11,-7,10,1,24,-11,-20,2,7
2022-07-01,17,40,54,-1.0,2,15,3,23.0,25.0,-12,...,-14,-12,-6,12,-1,26,-12,-21,1,7
2022-07-02,16,41,50,6.0,11,12,4,21.0,30.0,-2,...,-8,-10,3,6,2,26,-16,-16,7,6
2022-07-03,17,39,51,7.0,24,12,4,21.0,33.0,-2,...,-4,-13,2,6,4,27,-5,-14,3,6
2022-07-04,19,39,67,0.0,-1,15,-3,21.0,17.0,-15,...,-14,-18,-16,12,-1,23,-9,-22,1,7

In [14]:
combined_data.index.unique()

Index(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
       '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
       ...
       '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29',
       '2022-06-30', '2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04'],
      dtype='object', name='date', length=185)

**Parsing Dates - Example**

In [15]:
combined_data.index.dtype

dtype('O')

In [16]:
combined_data['parsed_dates'] = pd.to_datetime(combined_data.index, \
                                               format="%Y/%m/%d")

combined_data['parsed_dates']

date
2022-01-01   2022-01-01
2022-01-02   2022-01-02
2022-01-03   2022-01-03
2022-01-04   2022-01-04
2022-01-05   2022-01-05
                ...
2022-06-30   2022-06-30
2022-07-01   2022-07-01
2022-07-02   2022-07-02
2022-07-03   2022-07-03
2022-07-04   2022-07-04
Name: parsed_dates, Length: 185, dtype: datetime64[ns]

In [17]:

combined_data['parsed_dates'].dtype

dtype('<M8[ns]')

In [18]:
combined_data['Day'] = combined_data['parsed_dates'].dt.day
combined_data['Month'] = combined_data['parsed_dates'].dt.month
combined_data['Year'] = combined_data['parsed_dates'].dt.year

In [19]:
combined_data['Day']

date
2022-01-01     1
2022-01-02     2
2022-01-03     3
2022-01-04     4
2022-01-05     5
              ..
2022-06-30    30
2022-07-01     1
2022-07-02     2
2022-07-03     3
2022-07-04     4
Name: Day, Length: 185, dtype: int64

In [20]:
combined_data['Month']

date
2022-01-01    1
2022-01-02    1
2022-01-03    1
2022-01-04    1
2022-01-05    1
             ..
2022-06-30    6
2022-07-01    7
2022-07-02    7
2022-07-03    7
2022-07-04    7
Name: Month, Length: 185, dtype: int64

In [21]:
combined_data['Year']

date
2022-01-01    2022
2022-01-02    2022
2022-01-03    2022
2022-01-04    2022
2022-01-05    2022
              ...
2022-06-30    2022
2022-07-01    2022
2022-07-02    2022
2022-07-03    2022
2022-07-04    2022
Name: Year, Length: 185, dtype: int64

In [22]:
combined_data

,ID_retail_recreation,ID_grocery_pharmacy,ID_parks,ID_transit_stations,ID_workplaces,ID_residential,MY_retail_recreation,MY_grocery_pharmacy,MY_parks,MY_transit_stations,...,TH_retail_recreation,TH_grocery_pharmacy,TH_parks,TH_transit_stations,TH_workplaces,TH_residential,parsed_dates,Day,Month,Year
date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,3,24,46,-15.0,-49,6,-11,14.0,8.0,-16,...,-3,20,23,-36,-51,0,2022-01-01,1,1,2022
2022-01-02,11,35,28,-4.0,-4,3,-11,13.0,-3.0,-18,...,3,21,18,-30,-26,-3,2022-01-02,2,1,2022
2022-01-03,14,36,20,-9.0,-10,4,-6,25.0,-5.0,-25,...,9,25,5,-38,-54,5,2022-01-03,3,1,2022
2022-01-04,11,33,15,-9.0,-8,4,-8,22.0,-9.0,-28,...,3,24,-17,-34,-18,2,2022-01-04,4,1,2022
2022-01-05,12,34,17,-10.0,-7,4,-7,24.0,-6.0,-26,...,1,20,-20,-33,-14,3,2022-01-05,5,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,18,39,60,-1.0,1,15,2,24.0,21.0,-14,...,1,24,-11,-20,2,7,2022-06-30,30,6,2022
2022-07-01,17,40,54,-1.0,2,15,3,23.0,25.0,-12,...,-1,26,-12,-21,1,7,2022-07-01,1,7,2022
2022-07-02,16,41,50,6.0,11,12,4,21.0,30.0,-2,...,2,26,-16,-16,7,6,2022-07-02,2,7,2022
2022-07-03,17,39,51,7.0,24,12,4,21.0,33.0,-2,...,4,27,-5,-14,3,6,2022-07-03,3,7,2022
2022-07-04,19,39,67,0.0,-1,15,-3,21.0,17.0,-15,...,-1,23,-9,-22,1,7,2022-07-04,4,7,2022